@model MovieObjectTest.Models.MementoClass
<h3>A brief plot: @ViewBag.movieResult["Plot"]</h3>
<button class="finalclue">Give Up?</button>
<script type="text/javascript">
    $('.finalclue').click(function () {
        $.ajax({
            type: 'GET',
            dataType: 'html',
            url: '@Url.Action("Reveal")',
            success: function (result) {
                $('#memento-final').html(result);
            }
        });
    });
</script>