<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
    @using System.Security.Claims

    @if (User.Identity.IsAuthenticated)
    {
        <h2>Oh hello, @User.Identity.Name, please click a button to start a quiz.</h2>

        @using (Html.BeginForm("LogOff", "Home"))
        {
            <input type="submit" class="btn btn-default" value="Logoff" />
        }

        <div class="container">
            <h2>Choose below</h2>
            <form method="get" action="/Movie1/Index/">
                <input type="submit" class="btn btn-success" value="Movie 1" />
            </form>
            <form method="get" action="/Movie2/Index/">
                <input type="submit" class="btn btn-success" value="Movie 2" />
            </form>
            <form method="get" action="/Movie3/Index/">
                <input type="submit" class="btn btn-success" value="Movie 3" />
            </form>
            <form method="get" action="/Movie4/Index/">
                <input type="submit" class="btn btn-success" value="Movie 4" />
            </form>
            <form method="get" action="/Movie5/Index/">
                <input type="submit" class="btn btn-success" value="Movie 5" />
            </form>
            <form method="get" action="/Movie6/Index/">
                <input type="submit" class="btn btn-success" value="Movie 6" />
            </form>
            <form method="get" action="/Movie7/Index/">
                <input type="submit" class="btn btn-success" value="Movie 7" />
            </form>
        </div>
    }
    else
    {
        <div class="jumbotron">
            <h2>Authentication with Identity</h2>
            <button id="display-register" class="btn btn-default">Click here to register</button>
            <button id="display-login"class="btn btn-default" >Click here to login</button>
            <div id="register-form"></div>
            <div id="login-form"></div>
        </div>
        <hr />
        <script type="text/javascript">

                $('#display-login').click(function () {
                    $.ajax({
                        type: 'GET',
                        dataType: 'html',
                        url: '@Url.Action("Login")',
                        success: function (result) {
                            $('#login-form').html(result);
                        }
                    });
                });

                $('#display-register').click(function () {
                    $.ajax({
                        type: 'GET',
                        dataType: 'html',
                        url: '@Url.Action("Register")',
                        success: function (result) {
                            $('#register-form').html(result);
                        }
                    });
                });

        </script>
    }
</body>
</html>
