<h2>Choose below</h2>

<form method="get" action="/Argo/Index/">
    <input type="submit" value="Movie 1" />
</form>

<form method="get" action="/Braveheart/Index/">
    <input type="submit" value="Movie 2" />
</form>