@model MovieObjectTest.Models.WeddingSingerClass
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<h3>Released in @ViewBag.movieResult["Year"], this @ViewBag.MovieResult["Genre"] movie was directed by @ViewBag.movieResult["Director"]</h3>
<button class="clue2">Clue #2</button>
<script type="text/javascript">
    $('.clue2').click(function () {
        $.ajax({
            type: 'GET',
            dataType: 'html',
            url: '@Url.Action("WeddingSingerAnswer2")',
            success: function (result) {
                $('#weddingsinger-set-2').html(result);
            }
        });
    });
</script>




