@model MovieObjectTest.Models.MementoClass
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<div class="container">
    <h1>Mystery Movie #2</h1>
    <button class="clue1">Clue #1</button>
    <div id="memento-set-1"></div>
    <div id="memento-set-2"></div>
    <div id="memento-set-2"></div>
    <div id="memento-set-3"></div>

    <form action="Guess" class="user-guess">
        <label for="userguess">Guess</label>
        <input type="text" name="userguess" />
        <button type="submit">Submit</button>
    </form>
    <div id="correct"></div>
    <div id="memento-final"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('.clue1').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '@Url.Action("MementoAnswer")',
                success: function (result) {
                    $('#memento-set-1').html(result);
                }
            });
        });
        
        $('.user-guess').submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                data: $(this).serialize(),
                //data: $("userguess").val(),
                dataType: 'html',
                url: '@Url.Action("Guess")',
                success: function (result) {
                    $('#correct').html(result);
                }
            });
        });
    });
</script>