@model MovieObjectTest.Models.BridesmaidsClass
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<h3>This @ViewBag.movieResult["Year"] @ViewBag.MovieResult["Genre"] movie was directed by @ViewBag.movieResult["Director"]</h3>
<button class="clue2">Clue #2</button>
<script type="text/javascript">
    $('.clue2').click(function () {
        $.ajax({
            type: 'GET',
            dataType: 'html',
            url: '@Url.Action("BridesmaidsAnswer2")',
            success: function (result) {
                $('#bridesmaids-set-2').html(result);
            }
        });
    });
</script>




