@model MovieObjectTest.Models.BridesmaidsClass
<h3>The top billed actors were @ViewBag.movieResult["Actors"]</h3>
<button class="clue3">Clue #3</button>
<script type="text/javascript">
    $('.clue3').click(function () {
        $.ajax({
            type: 'GET',
            dataType: 'html',
            url: '@Url.Action("BridesmaidsAnswer3")',
            success: function (result) {
                $('#bridesmaids-set-3').html(result);
            }
        });
    });
</script>



