@model MovieObjectTest.Models.ArgoClass
<h2>You are correct! The answer was</h2>
<h2>@ViewBag.movieResult["Title"]</h2>
<img src="@ViewBag.movieResult["Poster"];" />
<br />
@Html.ActionLink("Try Another Movie", "../Movie2")

