@model MovieObjectTest.Models.ArgoClass
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<h1>Quiz 1</h1>
<button class="clue1">Clue #1</button>
<div id="argo-set-1"></div>
<button class="clue2">Clue #2</button>
<div id="argo-set-2"></div>
@using (Html.BeginForm())
{
    <label for="userguess">Your Guess</label>
    <input name="userguess" />
    <input type="submit" />
}


<script type="text/javascript">
    $(document).ready(function () {
        $('.clue1').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '@Url.Action("ArgoAnswer")',
                success: function (result) {
                    $('#argo-set-1').html(result);
                }
            });
        });
        $('.clue2').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '@Url.Action("ArgoAnswer2")',
                success: function (result) {
                    $('#argo-set-2').html(result);
                }
            });
        });
    });
</script>