@model MovieObjectTest.Models.ArgoClass
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>



<h2>Answer steps</h2>
<h4 class="display-view">Display view</h4>
<div id="argo-set-1"></div>
<h4 class="display-view">Display view</h4>
<div id="argo-set-2"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.display-view').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '@Url.Action("ArgoAnswer")',
                success: function (result) {
                    $('#argo-set-1').html(result);
                }
            });
        });
        $('.display-view').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '@Url.Action("ArgoAnswer2")',
                success: function (result) {
                    $('#argo-set-2').html(result);
                }
            });
        });
    });
</script>